@charset "utf-8";
body {
	margin: 0px;
	background-color: #E8EFF5;
	font-family:Tahoma;
	font-size: 11px;
	width: 100%;
	-webkit-text-size-adjust: none;
}
body[lang="cs"], body[lang="ch"] {font-family:Tahoma, "新細明體";}
a {text-decoration: none;}
a:focus { -moz-outline-style: none; }
ol, ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
input.noborder{ border: 0px;}
input.bgbu{	background-color:#ddf3ff;font-weight: normal;}
#containerHead, #containerMain {
	height: 70px;
	width: 100%;
	background: #e1e6ef; /* Old browsers */
	background: -moz-linear-gradient(top, #e8eff5 0%, #e8eff5 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #e8eff5 0%, #e8eff5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e8eff5 0%, #e8eff5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e8eff5 0%, #e8eff5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e8eff5 0%, #e8eff5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8eff5', endColorstr='#e8eff5',GradientType=0 ); /* IE6-9 */
}
.headerArea, .timeArea {
	width: 1000px;
	position: relative;
}
#Logout{
	position: absolute;
	right:15px;
	top: 15px;
}
.langForm {
	float:left;
	background: url(../images/layout/button.png) no-repeat 0 -160px;
}
.langForm:hover {
	background-position: 0 -180px;
}
.langForm span{
	float:left;	
	background: url(../images/layout/button.png) no-repeat right -160px;
	margin-left:2px;
	margin-right: -2px;
	width: 120px;
	overflow: hidden;
}
.langForm span:hover {
	background-position: right -180px;
}
.langForm span select {
	-webkit-appearance: none;
	font-family:Tahoma;
	font-size: 11px;
	background: transparent;
	border: none;
	cursor: pointer;
	width: 140px;
	height: 19px;
	color: #000000;
	text-shadow: 1px 1px 1px #FFF;	
	margin: 0 -2px; /*ff*/
	padding:2px 0px;
}
:root .langForm span select { padding: 0px\9; } /*ie9*/
@media screen and (-webkit-min-device-pixel-ratio:0) {   
   .langForm span select {width: 122px; margin: 0 2px 0 -2px; padding: 0 5px;} /*chrome and safari*/
   body[lang="es"] .langForm span {width:73px;}
}
.langForm span select option{
	color: #000000;/*ff*/
	color: #000000\0;/*ie8*/
	background: #f2f2f2;/*ff*/
	background: none\0;/*ie8*/
	border: 1px solid #afb6bc\0;/*ie8*/
}
:root .langForm span select option{ /*ie9*/
	border: 1px solid #afb6bc\9;
	background: none\9;
} 
@media screen and (-webkit-min-device-pixel-ratio:0) {  /*chrome and safari*/
   .langForm span select option{
	border: 1px solid #afb6bc;
	color: #000000;
	background: #f2f2f2;
	} 
} 
.langForm span select:hover{ /*ff*//*ie*/
	outline: none;
	color: #ffffff!important;text-shadow:none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { /*chrome and safari*/
	.langForm span select:hover{
		outline: none;
		color: #ffffff;
		text-shadow:-1px -1px 1px #d2591f;
	}
}
#ibclogo span{	display: none;}
#containerTopright{
	text-align: right;
	float: right;
	margin-right: 11px;
	_margin-right: 5px;
	margin-top: 42px;
}
#containerNav {
	height: 30px;
	float: left;
	width: 600px;
	margin-top: 0px;
	margin-left: 140px;
}
#odd_manu{
	left: 694px;
    position: absolute;
    top: 73px;
	float: right;
	z-index:2;
}

#odd_manu a.button { color:#022352;}
#odd_manu a.button:hover { color: #fff;}
#odd_manu a span { font-weight:bold;}
body[lang="ru"] #odd_manu a span, body[lang="it"] #odd_manu a span { font-weight:normal;}  
body[lang="ch"] #odd_manu a span { padding-left:8px;}  

/*information Menu*/
#newtopmenu.topmenu{
	color: #7d7d7d;
	position: absolute;
	left: 200px;
	top: 19px;
}
#newtopmenu.topmenu ul { 
	margin: 0 0 0 8px;
	padding: 0px;
}
#newtopmenu.topmenu ul li {
	display: inline;
	margin-left: 0px;
}
#newtopmenu.topmenu ul li a{
	color: #2e4a7a;
}
#newtopmenu.topmenu ul li a:hover {
	color: #DE4B39;
}

/*Main Menu*/
.mainMenuArea{
	position: absolute;
	top: 44px;
	left: 205px;
}
.mainMenu > li{
	float:left;
	position:relative;
	margin-left: 3px;
}
.mainMenu > li a {
	float: left;
	min-width: 82px;
	max-width: 120px;
	text-shadow: -1px -1px 0px #203b70;	
	margin-right: 5px;
	text-align: center;
	background: url(../images/layout/mainMenu.png?v=20130114001) no-repeat left 0px;
	font-size: 12px;
	/*font-weight: bold;*/
	color: #ffffff;
}
.mainMenu > li a span {
	display:block;
	background: url(../images/layout/mainMenu.png?v=20130114001) no-repeat right 0px;
	margin-right: -5px;
	margin-left: 5px;
	padding: 0px 5px 0px 0px;
	height: 26px;
	line-height: 23px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	font-weight: bold;
}
@media \0screen { /*IE8 only*/
	body[lang="es"] .mainMenu > li:first-child a span { width:115px;}
}
.mainMenu > li a:hover {
	text-shadow: -1px -1px 0px #D05C1E;
	background-position: left -30px;
}
.mainMenu > li a:hover span {
	background-position: right -30px;
}
.mainMenu > li a.current {
	color: #ffd400;
	background-position: left -90px !important;
	line-height: 25px;
}
.mainMenu > li a.current span {
	background-position: right -90px !important;
	text-shadow: -1px -1px 0px #203b70;
}
/* mouseover auto show hide */
.mainMenu > li .SubSiteNav {display:none !important;}
.mainMenu > li:hover .SubSiteNav {display:block !important;}
.mainMenu > li:hover > a {
	text-shadow: -1px -1px 0px #D05C1E;
	background-position: left -30px;
}
.mainMenu > li:hover > a span {
	background-position: right -30px;
}
/* .mainMenu .corner-new */
.mainMenu .corner-new {
	position:absolute;
	right:2px;
	bottom:19px;
	z-index:1;
	width:46px;
	height:14px;
	text-indent:-9999px;
	background-image: url(../images/layout/corner-ribbon-new.png);
}
body[lang=en] .mainMenu .corner-new {background-position:0 0;}
body[lang=ch] .mainMenu .corner-new {background-position:0 -14px;}
body[lang=cs] .mainMenu .corner-new {background-position:0 -14px;}

/* SubSiteNav*/
.SubSiteNav {
	z-index: 5;
	position: absolute;	
	top: 24px;
	right:0;
	/*width:555px;*/
}
.mainMenuArea .SubSiteNav {left:0;}
.SubSiteNav ul {
	list-style: none;	
	height: 20px;
	border-right: 1px solid #afb6bc;
	white-space: nowrap;
	box-shadow: 0px 0px 8px #3D3D3D;
	display: inline-block;
	/*float:right;*/
	display:table;
}
.SubSiteNav ul li {
	background: #e2e3e5;
/*	float: right;*/
	display:table-cell;
}
.SubSiteNav ul li a {
	background: #e2e3e5;
	color: #2F4A77;
	text-shadow: 1px 1px 0px #ffffff;
	height: 20px;
	width: auto;
	max-width:200px;
	overflow: visible;
	border: 1px solid #afb6bc;
	border-right: none;
	margin-right: 0px;
	line-height: 21px;
	padding: 0 10px;
	font-weight: bold;
}
.SubSiteNav ul li a:hover {
	color:#FF6A00;
	background: #FFFFFF;
	text-shadow: 1px 1px 0px #ffffff;
	position:relative;
	z-index: 15;
	border: 1px solid #FF6A00;
	margin-right:-1px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.SubSiteNavDiamond{
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865475, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865475, SizingMethod='auto expand')";
	filter: progid:DXImageTransform.Microsoft.Matrix(
		M11=0.7071067811865475,
		M12=-0.7071067811865477,
		M21=0.7071067811865477,
		M22=0.7071067811865475,
		SizingMethod='auto expand'
	);/*ie8*/
	-moz-transform: rotate(45deg);/* FF3.6+ */
	-o-transform: rotate(45deg);/* Opera 11.10+ */
	-webkit-transform: rotate(45deg);/* Chrome10+,Safari5.1+ */
	-ms-transform: rotate(45deg);/* IE10+ */
	transform:rotate(45deg);
}
:root .SubSiteNavDiamond{filter:none\9;}/*ie9*/
.SubSiteNavArrow{
	position:absolute;
	display:block;
	width:7px;
	height:7px;
	font-size:0;
	background:#e2e3e5;
	border-left:1px solid #afb6bc;
	border-top:1px solid #afb6bc;
	top: -4px;
	right: 42px;
	z-index: 10;
}
.mainMenuArea .SubSiteNavArrow {left:42px;}
#timelyinfo {
	background: #4f6ea0;
	height: 25px;
	width: 100%;
}
#timelyinfo div{
	float: left;
}
#timelyinfo .containertime {
	font-size: 10px;
	color: #e2e2e2;	
	margin-top: 7px;
	text-align: center;
	width: 200px;
}

/*icons Menu*/
.iconMenu{
	margin: 3px 0 0 7px;
}
.iconMenu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.iconMenu ul li{
	float: left;
	margin-right: 2px;
}
.iconMenu ul li a{
	height: 19px;
	width: 21px;
	display: block;
	background: url(../images/layout/headerIcon.png) no-repeat 0px 0px;
}
.iconMenu ul li a:hover{
}
.iconMenu ul li.hide_left a{
	background-position: 0px 0px;
}
.iconMenu ul li.hide_left a:hover{
	background-position: 0px -20px;
}
.iconMenu ul li.show_left a{
	background-position: -25px 0px;
}
.iconMenu ul li.show_left a:hover{
	background-position: -25px -20px;
}
.iconMenu ul li.hide_top a{
	background-position: -50px 0px;
}
.iconMenu ul li.hide_top a:hover{
	background-position: -50px -20px;
}
.iconMenu ul li.show_top a{
	background-position: -75px 0px;
}
.iconMenu ul li.show_top a:hover{
	background-position: -75px -20px;
}
.iconMenu ul li.Favorite a{
	background-position: -100px 0px;
}
.iconMenu ul li.Favorite a:hover{
	background-position: -100px -20px;
}
.iconMenu ul li#tv_live a{
	background-position: -125px 0px;
}
.iconMenu ul li#tv_live a:hover{
	background-position: -125px -20px;
}

/*news*/
#timelyinfo .containerHotnews {
	margin: 3px 2px 0 0;
	width: 345px;
	height: 19px;
	background: #2f4a76;
	border-radius: 2px;
	cursor: pointer;
	position: relative;
}
.containerHotnews marquee {
	color: #e2e2e2;
	margin: 4px;
	float:left;
	width: 317px;
}
#timelyinfo_phoneBetting .containerHotnews {
	background-repeat: no-repeat;
	width: 760px;
	height: 19px;
	margin-top: 15px;
	_margin-top: 10px;
	*margin-top: 10px;
	padding-left: 15px;
	float: left;
}
#timelyinfo_phoneBetting .containertime {
	font-size: 10px;
	color: #FFFFFF;
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 190px;
}
#timelyinfo .containerHotnews  span{ display:none;}
#timelyinfo_spotico .containerHotnews  span{ display:none;}
#timelyinfo_ibet888 .containerHotnews  span, #timelyinfo_bong88 .containerHotnews  span{ display:none;}
#timelyinfo_033333 .containerHotnews  span{ display:none;}
#timelyinfo_phoneBetting .containerHotnews  span{ display:none;}
#Copyright {
	font-size: 11px;
	color: #666666;
	text-align: center;
	margin-bottom: 20px;
}

/* fix all lang layout */
body[lang="cs"] #odd_manu, body[lang="ch"] #odd_manu {left: 694px;}
body[lang="cs"] #timelyinfo .containerHotnews, body[lang="ch"] #timelyinfo .containerHotnews {width: 345px;}
body[lang="cs"] .containerHotnews marquee, body[lang="ch"] .containerHotnews marquee {width: 317px;}

body[lang="en"] #odd_manu {left: 640px;}
body[lang="en"] #timelyinfo .containerHotnews {width: 295px;}
body[lang="en"] .containerHotnews marquee {width: 265px;}

body[lang="it"] #odd_manu {left: 615px;}
body[lang="it"] #timelyinfo .containerHotnews {width: 270px;}
body[lang="it"] .containerHotnews marquee {width: 240px;}

body[lang="jp"] #odd_manu {left: 662px;}
body[lang="jp"] #timelyinfo .containerHotnews {width: 317px;}
body[lang="jp"] .containerHotnews marquee {width: 287px;}

body[lang="ko"] #odd_manu {left: 616px;}
body[lang="ko"] #timelyinfo .containerHotnews {width: 270px;}
body[lang="ko"] .containerHotnews marquee {width: 240px;}

body[lang="th"] #odd_manu {left: 645px;}
body[lang="th"] #timelyinfo .containerHotnews {width: 295px;}
body[lang="th"] .containerHotnews marquee {width: 265px;}

body[lang="ru"] #odd_manu {left: 600px;}
body[lang="ru"] #timelyinfo .containerHotnews {width: 255px;}
body[lang="ru"] .containerHotnews marquee {width: 225px;}

body[lang="vn"] #odd_manu {left: 558px;}
body[lang="vn"] #timelyinfo .containerHotnews {width: 213px;}
body[lang="vn"] .containerHotnews marquee {width: 185px;}

body[lang="id"] #odd_manu {left: 623px;}
body[lang="id"] #timelyinfo .containerHotnews {width: 275px;}
body[lang="id"] .containerHotnews marquee {width: 247px;}

body[lang="fr"] #odd_manu {left: 604px;}
body[lang="fr"] #timelyinfo .containerHotnews {width: 261px;}
body[lang="fr"] .containerHotnews marquee {width: 232px;}

body[lang="pt"] #odd_manu {left: 546px;}
body[lang="pt"] #timelyinfo .containerHotnews {width: 203px;}
body[lang="pt"] .containerHotnews marquee {width: 175px;}

body[lang="es"] #odd_manu {left: 541px;}
body[lang="es"] #timelyinfo .containerHotnews {width: 198px;}
body[lang="es"] .containerHotnews marquee {width: 170px;}

/*rulesContent after Login page*/
.agreeContent{
	width: 100%;
	background: #f5f3f2;
	text-align: center;
}
.agreePos{
	width: 715px;
	padding: 20px 40px;
	margin: 0 auto;
}
.agreePos .btnArea {display: table; margin:0 auto; float:none;}
.agreePos .btnArea .button { min-width: 50px;}
#rules{
	border-top: 1px solid #e0dcdb;
	border-bottom: 1px solid #ffffff;
	display:block;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
.rulesBorder{
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0dcdb;
}
#rules iframe {
	height:100%;
	min-height: 300px;
	width: 100%;
	background-color:#FFFFFF;
}
.agreeFooter{
	text-align: center;
}
h1 {
	font-size: 13px;
	font-weight: bold;	
}
h2 {
	padding-left: 15px;
	font-size: 12px;
	font-weight: bold;
}
h3 {
	padding-left: 43px;
	font-weight: normal;
	font-size: 11px;
}
h4 {
	padding-left: 75px;
	font-weight: normal;
	font-size: 11px;
}
h5 {
	padding-left: 125px;
	font-weight: normal;
	font-size: 11px;
}
h6 {
	padding-left: 15px;
	font-weight: normal;
	font-size: 11px;
}
.style1 {
	color: #a40000;
	font-weight: bold;
}
.ruleContent{
	padding: 10px;
	color: #3f3f3f;
	line-height: 18px;
}
.title_bg{
	font-size: 14px;
	font-weight: bold;
	color: #1a335c;
	background-image: url(../images/layout/title_soccer.gif?v=20121222001);
	background-repeat: no-repeat;
	background-position: left 2px;
	text-indent: 25px;
	height: 20px;
	margin-top: 10px;
	padding-top: 5px;
	float: left;
	padding-right: 10px;
}
.rulestext{
	font-size: 11px;
}

/*------------logo------------*/

#ibclogo {
	height: 70px;
	width: 210px;
	background: url(../images/layout/logo.png) no-repeat 30px 7px;
}

#ibclogoDemo {
	height: 70px;
	width: 210px;
	background: url(../images/layout/logo_DM.png) no-repeat 30px 7px;
}

#bong88logo {
	background-image: url(/template/bong88/public/images/layout/logo_bong88.png?v=20130502);
	width: 190px;
	height: 55px;
	position:absolute;
	top: 5px;
	left: 10px;
}

#bong88logoDemo {
	background-image: url(/template/bong88/public/images/layout/logo_bong88_DM.png?v=20130502);
	width: 190px;
	height: 55px;
	position:absolute;
	top: 5px;
	left: 10px;
}

#ibet888logo {
	background-image: url(/template/ibet888/public/images/layout/logo_ibet888.png?v=20130502);
	background-repeat: no-repeat;
	height: 55px;
	width: 171px;
	margin-left: 10px;
	float: left;
	padding-left: 20px;
	margin-top: 5px;
}

#logo033 {
	background-image: url(../images/layout/logo_033.gif?v=20120130);
	background-repeat: no-repeat;
	height: 56px;
	width: 171px;
	margin-left: 10px;
	float: left;
	padding-left: 20px;
}

#spologo {
	background-image: url(../images/layout/logo_spotico.gif?v=20120130);
	background-repeat: no-repeat;
	height: 56px;
	width: 171px;
	margin-left: 10px;
	float: left;
	padding-left: 20px;
}

#ispologo {
	background-image: url(../images/layout/logo_ispo.gif?v=20120130);
	background-repeat: no-repeat;
	height: 56px;
	width: 171px;
	margin-left: 10px;
	float: left;
	padding-left: 20px;
}


/*from topmenu.html*/
#TOPpopup1 {
	position:absolute;
	left:295px;
	top:10px;
	width:575px;
	height:88px;
	z-index:10;
}
#TOPpopup2 {
	position:absolute;
	left:295px;
	top:10px;
	width:575px;
	height:88px;
	z-index:10;
}
.toppopuclose {
	background-image: url(../images/layout/top_popubox0.png?v=20121222001);
	background-repeat: no-repeat;
	background-position: left top;
	height: 78px;
	width: 21px;
}
.toppopuclose1 {
	background-image: url(../images/layout/top_popubox0.png?v=20121222001);
	background-repeat: no-repeat;
	background-position: left top;
	height: 78px;
	width: 11px;
}
.toppopuclose2 {
	background-image: url(../images/layout/top_popubox3.png?v=20121222001);
	background-repeat: no-repeat;
	background-position: left top;
	height: 78px;
	width: 11px;
}
.toppopuclose a span {
	display:none;
}
.toppopuclose1 a span {
	display:none;
}
.toppopuclose2 a span {
	display:none;
}
.toppopuclose a {
	display: block;
	height: 78px;
	width: 21px;
}
.toppopuclose1 a {
	display: block;
	height: 78px;
	width: 21px;
}
.toppopuclose2 a {
	display: block;
	height: 78px;
	width: 21px;
}
.toppopunews1 {
	background-image: url(../images/layout/top_popubox0.png?v=20121222001);
	background-repeat: no-repeat;
	background-position: -21px top;
	display: block;
	width: 545px;
	padding:5px 4px 5px 11px;
}
.hotnewscont1 {
	height: 75px;
	margin-right: 10px;
	/*width: 500px;*/
	overflow: auto;
	font-size: 11px;
	color: #b4448f;
	line-height: 16px;
}
.toppopunews2 {
	background-image: url(../images/layout/top_popubox3.png?v=20121222001);
	background-repeat: no-repeat;
	background-position: -21px top;
	display: block;
	width: 545px;
	padding:5px 4px 5px 11px;
}
.hotnewscont2 {
	height: 75px;
	margin-right: 10px;
	/*width: 500px;*/
	overflow: auto;
	font-size: 11px;
	color: #b4448f;
	line-height: 16px;
}
.more1 {
	font-size: 11px;
	font-family: Tahoma;
	color: transparent;
	background-color: transparent;
	border-style: none;
	cursor: hand;
	position: absolute;
	left: 880px;
	_left: 881px;
	height: 21px;
	top: 10px;
	padding: 0px 0px 0px 0px;
	text-indent: 4px;
	width: 15px;
}
.select-free {
	position:absolute;
	z-index:10;/*any value*/
	overflow:hidden;/*must have*/
	width:33em;/*must have for any value*/
	;
}
.select-free iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:0;/*must have*/
	left:0;/*must have*/
	z-index:-1;/*must have*/
	filter:mask();/*must have*/
	width:3000px;/*must have for any big value*/
	height:3000px/*must have for any big value*/;
}
.select-free .bd {
	border:solid 1px #aaaaaa;
	padding:12px;
}
.more3 {
	position: absolute;
	left: 902px;
    top: 12px;
	text-indent: 0px;
}
.nifty {
	margin: 0 auto;
	background: #a5c5e0;
	width:88px;
	font-family: Tahoma;
	font-size: 11px;
	color: #11306f;
	text-align: center;
}
.nifty .content {
}
b.rtop, b.rbottom {
	display:block;
	background: #4a5f90
}
b.rtop b, b.rbottom b {
	display:block;
	height:1px;
	overflow:hidden;
	background:#a5c5e0
}
b.r1 {
	margin: 0 2px
}
b.r2 {
	margin: 0 1px
}
b.r3 {
	margin: 0 2px
}
b.rtop b.r4, b.rbottom b.r4 {
	margin: 0 1px;
	height: 2px
}
.nifty a:link {
	color: #11306f;
	text-decoration: none;
}
.nifty a:visited {
	text-decoration: none;
	color: #11306f;
}
.nifty a:hover {
	text-decoration: none;
	color: #FFFFFF;
}
.nifty a:active {
	text-decoration: none;
	color: #FFFFFF;
}
/* .langMenu for iPad */
.isPad #ibclogo, .isPad #Logout, .isPad #odd_manu {
	-moz-transition:all 0.5s ease-out;
	-webkit-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
}
.isPad body {
	font-family: helvetica !important;
}
.isPad #containerHead {
	position:absolute;
	top:inherit;
	bottom:25px;
}
.isPad #timelyinfo {
	position:absolute;
	bottom:0;
}
.isPad .headerArea {
	position: relative;
}
.isPad .mainMenuArea {
	display:none;
}
.isPad #ibclogo {
	position:absolute;
	background:none;
	background-size: contain;
	background-image: url(../images/layout/logo.png);
	background-repeat:no-repeat;
	background-position:center bottom;
	height:55px;
	top:8px;
}
.isPad #TOPpopup1 {left:250px;}
.isPad #TOPpopup2 {left:250px;}
.isPad.rollup #ibclogo {
	height:30px;
	top:39px;
}
.isPad.rollup #Logout {
	top:45px;
}
.isPad.rollup #odd_manu {
	top:45px;
}
.isPad #tv_live, .isPad #showhidetop {
	display:none;
}

/*== box-highlight ==*/
.box-highlight {
	position:relative;
	margin:0; padding:20px;
	/*background*/
	background: #f1f4f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f1f4f8 0%, #e1e7f0 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #f1f4f8 0%, #e1e7f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1f4f8 0%, #e1e7f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1f4f8 0%, #e1e7f0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f1f4f8 0%, #e1e7f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f4f8', endColorstr='#e1e7f0',GradientType=0 ); /* IE6-9 */
	/*border*/
	border:1px solid #c8cfd6;
	border-radius:6px;
	/*box-shadow*/
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 5px rgba(255, 255, 255, 1);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 5px rgba(255, 255, 255, 1);
}
.box-highlight:before { 
	content:""; 
	display:block;
	position:absolute;
	top:0; left:0; z-index:0;
	width:165px; height:120px;
	background: url(../images/login_page/areaBGlight.png) no-repeat 0 0;
}


/*== btn-large ==*/
.btn-large { 
	display:inline-block; 
	width:192px; height:36px; line-height:36px;
	color:#000; font-size:16px; font-weight:bold; 
	text-decoration:none; text-shadow: 1px 1px 1px #fff;
	/*background*/
	background: #eaeaea; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	/*border*/
	border:1px solid #b1b1b1;
	border-radius:2px;
	/*box-shadow*/
	-webkit-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 1);
	box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 1);
}
.btn-large:hover { 
	color:#FFF;
	text-shadow: -1px -1px 0px #e94201;
	/*background*/
	background: #f27545; /* Old browsers */
	background: -moz-linear-gradient(top, #fea244 0%, #f27545 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #fea244 0%, #f27545 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fea244 0%, #f27545 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fea244 0%, #f27545 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fea244 0%, #f27545 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea244', endColorstr='#f27545',GradientType=0 ); /* IE6-9 */
	/*border*/
	border:1px solid #d1591f;
	border-radius:2px;
	/*box-shadow*/
	-webkit-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.5);
	box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.5);
}
	
	
/*== btn-large.refresh ==*/
.btn-large.refresh { position: relative; width:52px; height:52px;}
.btn-large.refresh:before {
	content:"";
	display:block;
	position:absolute;
	top:50%; left:50%;
	margin:-18px 0 0 -19px;
	width:38px; height:36px;
	background: url(../images/layout/icon-refresh-large.png) no-repeat 0 0;
}
.btn-large.refresh:hover:before { background-position:0 -36px;}


/*== btn-large.highlight ==*/
.btn-large.highlight { 
	color:#FFF;
	text-shadow: -1px -1px 0px #203b70;
	/*background*/
	background: #476596; /* Old browsers */
	background: -moz-linear-gradient(top, #a4b9da 0%, #476596 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #a4b9da 0%, #476596 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a4b9da 0%, #476596 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a4b9da 0%, #476596 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a4b9da 0%, #476596 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b9da', endColorstr='#476596',GradientType=0 ); /* IE6-9 */
	/*border*/
	border:1px solid #476596;
	border-radius:2px;
	/*box-shadow*/
	-webkit-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 1);
	box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 1);
}
.btn-large.highlight:hover { 
	color:#FFF;
	text-shadow: -1px -1px 0px #e94201;
	/*background*/
	background: #f27545; /* Old browsers */
	background: -moz-linear-gradient(top, #fea244 0%, #f27545 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #fea244 0%, #f27545 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fea244 0%, #f27545 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fea244 0%, #f27545 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fea244 0%, #f27545 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea244', endColorstr='#f27545',GradientType=0 ); /* IE6-9 */
	/*border*/
	border:1px solid #d1591f;
	border-radius:2px;
	/*box-shadow*/
	-webkit-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.5);
	box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.5);
}


/*== validationCode ==*/
.validationCode { 
	position:absolute;
	top:50%; left:50%;
	margin:-190px 0 0 -230px;
	width:460px; height:380px; 
}
.validationCode .logo {
	margin:10px auto;
	width:206px; height:79px;
	background: url(../images/layout/logo_large.png) no-repeat 0 0;
	background-size: contain;
}	
.validationCode .logo.bong88 {
	background: url(/template/bong88/public/images/layout/logo_large.png) no-repeat 0 0;
	background-size: contain;
}	
@media \0screen { /* ie8 */
	.validationCode .logo { background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/layout/logo_large.png', sizingMethod='scale');} 
	.validationCode .logo.bong88 { background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/template/bong88/public/images/layout/logo_large.png', sizingMethod='scale');} 
}

.validationCode dl,dt,dd,h1,h2 { margin:0; padding:0; text-align:center;}
.validationCode dt,dd { margin-bottom:8px;}
.validationCode h1 { color:#e94201; font-size:20px;}
.validationCode h2 { margin-bottom:10px; color:#4291c0; font-size:15px;}
.validationCode img { display:inline-block; margin-right:4px; width:135px; height:54px; vertical-align:top;}
.validationCode .typing { position:relative; margin-bottom:20px; }
.validationCode input { 
	width:192px; height:36px; line-height:36px;
	font-size:18px; font-weight:bold;
	text-indent:18px; letter-spacing:0.2em;
	/*border*/
	border:1px solid #b1b1b1;
	border-radius:2px;
	/*background*/
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #eaeaea 0%, #ffffff 50%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #eaeaea 0%, #ffffff 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eaeaea 0%, #ffffff 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eaeaea 0%, #ffffff 50%); /* IE10+ */
	background: linear-gradient(to bottom, #eaeaea 0%, #ffffff 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.validationCode .tips { display:block; position:absolute; top:50%; right:120px; margin-top:-10px;  width:20px; height:20px; background: url(../images/layout/icon-tip-ox.png);}
.validationCode .tips.true { background-position:0 -20px;}
.validationCode .tips.false { background-position:0 0;}

/* logo 節慶用 - Xmas  */
/*
#ibclogo { background-image: url(../images/layout/logo_Xmas.png); background-position: 0px 3px; }
#bong88logo{ background-image: url(/template/bong88/public/images/layout/logo_Xmas.png); background-position: 2px 5px; background-repeat: no-repeat; }
*/
