html, body
{
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
body
{
	font-family: Tahoma,Arial ,helvetica ,sans-serif;
	font-size: 11px;
	line-height: 21px;
	color: #171717;
	margin: 0px;
	text-align: left;

	background-attachment: fixed;
	background-color: #f5f6f8;
}
td
{
	padding-left: 2px;
	padding-right: 2px;
}
#tab_menu
{
	border-bottom: 1px solid #CCCCCC;
	font-weight: bold;
	height: 22px;
	margin-top: 3px;
	text-align: center;
	width: 245px;
}
#tab_menu_m
{
	float: left;
	height: 23px;
	width:  101px;
}
#tab_menu_L
{
	float: right;
	height: 23px;
	width: 101px;
}
.tab_menu01AC
{
	background: transparent url(../Images/menutop_OV.jpg) no-repeat scroll right top;
	color: red;
	display: block;
	margin-top: 2px;
	padding-left: 10px;
	text-decoration: none;
	width: 130px;
}
a.tab_menu02
{
	background: transparent url(../Images/menutop_none.jpg) no-repeat scroll left top;
	color: white;
	display: block;
	padding-right: 10px;
	text-decoration: none;
	width: 130px;
}

a.tab_menu02:hover
{
	background: transparent url(../Images/menutop_OV2.jpg) no-repeat scroll left top;
	color: red;
	margin-top: 2px;
}
.tab_menu02AC
{
	background: transparent url(../Images/menutop_OV2.jpg) no-repeat scroll left top;
	color: red;
	display: block;
	margin-top: 2px;
	padding-right: 10px;
	text-decoration: none;
		width: 130px;
}
a.tab_menu01:hover
{
	background: transparent url(../Images/menutop_OV.jpg) no-repeat scroll right top;
	color: red;
	margin-top: 2px;
}
a.tab_menu01
{
	background: transparent url(../Images/menutop_none.jpg) no-repeat scroll right top;
	color: white;
	display: block;
	padding-left: 10px;
	text-decoration: none;
	width: 130px;
}
.tab_menu02Blink
{
	background: transparent url../Images/menutop_none.gif) no-repeat scroll left top;
	color: white;
	display: block;
	padding-right: 10px;
	text-decoration: none;
}
.tab_menu02Blink:hover
{
	background: transparent url(../Images/menutop_OV2.jpg) no-repeat scroll left top;
	color: red;
	margin-top: 2px;
}
