#box_header
{
	padding: 0px;
}

.div_result
{
	display: none;
}

.bl_match
{
	/*white-space: nowrap;*/
}

.bl_lname
{
	/*white-space: nowrap;*/
}

.bl_evt
{

}

.bl_btype
{
	display: inline;
	padding-left: 5px;
}

.bettype
{
	display: block !important;
	padding-left: 5px;
}
.bettypeA{color: #003399 !important;font-weight: 600;}
.stake
{
	color: #ff0000;	
}

#Content
{
	width: 80%;
}

#loading
{
	width: 30px;
	height: 25px;
}

td.c div.iplink
{
	text-decoration: none; 
	color: #000;
	cursor: default;
	white-space: nowrap;
}

div.bl_ip div.iplink,div.ip div.iplink
{
	color: #0000ff;
	cursor: pointer;
}