.chkMemDcomm
{
    display: none;
}

.bkgDcommAllowed
{
    background: url('Images/dcommOn.png') top left no-repeat;
    width: 41px;
    height: 16px;
}

.bkgDcommDisallowed
{
    background: url('Images/dcommOff.png') top left no-repeat;
    width: 41px;
    height: 16px;
}

.bkgDcommAllowed > a
{
    color: #ffc3cc;
    padding-right: 9px;
    line-height: 18px;
}

.bkgDcommDisallowed > a
{
    color: #8B887F;
    padding-left: 14px;
    line-height: 16px;
}

.bkgDcommDisallowed > a, .bkgDcommAllowed > a
{
    font-size: 8px;
    font-weight: bold;    
    text-transform: uppercase; 
    cursor: pointer;  
}

.bkgDcommDisallowed > a[onclick=''], .bkgDcommAllowed > a[onclick='']
{
    cursor: default;  
}
