.calendar1{background-image:url(Images/cal.gif); display:inline; height:20px; width:20px; padding:3px 9px 2px 8px; cursor:pointer}
#header_main2{height:24px; background:url(Images/bg_header01.jpg) no-repeat left bottom; padding-left:10px}
#header_main_msg{height:24px; width:850px; background:url(Images/bg_header01.jpg) no-repeat left bottom; float:left}
#divMsgContent{height:100%; min-height:400px; width:910px; min-width:400px}
.message_content{padding-top:2px !important; padding-bottom:5px !important; text-align:justify; vertical-align:top}
.w_order_ms{width:20px; text-align:right; color:#7d7d7d; font-weight:normal; vertical-align:top}
.c_ms{text-align:center; vertical-align:top}
.bl_time_ms{color:#434343; font-size:7pt !important; font-weight:normal; text-align:center; vertical-align:top; width:70px}
.head_title{color:#9d1c1c; font-weight:bold; text-transform:uppercase; text-align:left}
.special_text{text-decoration:underline; font-weight:normal; text-transform:none}
.msg{float:right; text-align:left; margin-top:2px}
#msg_menu{font-size:11px; font-weight:bold; line-height:16px; margin-right:10px; padding-left:20px}
#msg_menu ul{font-size:11px; list-style-type:none; margin:0; padding:0; width:400px}
#msg_menu li{font-size:11px; display:inline; padding:0}
#msg_menu a{font-size:11px; float:left; background:url(Images/msg_02.jpg) no-repeat left top; margin-right:2px; padding-left:3px; text-decoration:none}
#msg_menu a span{font-size:11px; font-weight:normal; color:#000; float:left; display:block; background:url(Images/msg_01.jpg) no-repeat right top; padding:2px 5px 2px 5px}
#msg_menu a span{float:none; padding-left:10px; padding-right:10px}
#msg_menu a:hover span{color:#F00}
#msg_menu #current a{background-position:0 -20px}
#msg_menu #current a span{background-position:100% -20px; color:#f00}
#msg_menu a:hover{background-position:0% -20px}
#msg_menu a:hover span{background-position:100% -20px}
#header_cont{width:910px; height:26px; background:url(Images/bg_header01.jpg) no-repeat left bottom}
.text_header{color:#af1a1a; font-weight:bold; padding-left:15px; text-transform:uppercase}
.b_msg0{float:left; width:120px; margin-top:6px}
