.tbllayout
{
	border-spacing: 1px;
	background: #7c98a4;
	width: 100%;
	text-align: center;
	line-height: 18px;
	font-family: Tahoma,Arial,helvetica,sans-serif;
	font-size: 11px;
}
.tbllayout td, .tbllayout th
{
	background: #fff;
	padding: 1px;
}
.tbllayout a
{
	cursor: pointer;
}
.tbllayout .title
{
	background: #7c98a4 !important;
	font-weight: bold;
	color: #000;
	padding: 1px;
}
.tbllayout .title td, th
{
	background: #6A6969 url(../Images/bg_header02.jpg) repeat-x scroll center top;
	color: #FFF;
	font-size: 12px !important;
	text-align: center;
	height: 22px;
	font-weight: normal !important;
}

.tbllayout .title1
{
	background: #7c98a4 !important;
	font-weight: bold;
	color: #000;
	padding: 1px;
}
.tbllayout .title1 td
{
	background: #737F88 !important;
}

.tbllayout .title2
{
	background: #7c98a4 !important;
	font-weight: bold;
	color: #000;
	padding: 1px;
}
.tbllayout .title2 td
{
	background: #9CC !important;
}

.tbllayout .titleall td
{
	background: #7c98a4 !important;
	font-weight: bold;
	color: #000;
	padding: 1px;
}

.tbllayout .tdtitle
{
	background: #b5c4d0 !important;
	font-weight: bold;
	color: #000;
	padding: 1px;
}

.tblcollapse
{
	background: #fff;
	border-collapse: collapse;
	border: solid 1px #B7B7B7;
	width: 100%;
	text-align: center;
	line-height: 18px;
	font-family: Tahoma,Arial,helvetica,sans-serif;
	font-size: 11px;
}
.tblcollapse td, .tblcollapse th
{
	border: solid 1px #B7B7B7;
	line-height: 18px;
	padding: 1px;
}
.tblcollapse a
{
	cursor: pointer;
}
.tblcollapse .title
{
	font-weight: bold;
	color: #000;
	padding: 1px;
}
.tblcollapse .title td, th
{
	background: #6A6969 url(../Images/bg_header02.jpg) repeat-x scroll center top;
	color: #FFF;
	font-size: 12px !important;
	text-align: center;
	height: 22px;
	font-weight: normal !important;
	white-space: nowrap;
}

.tblcollapse .title1
{
	font-weight: bold;
	color: #000;
	padding: 1px;
}
.tblcollapse .title1 td
{
	background: #737F88 !important;
}

table.noborder td
{
	border: 0px;
}

.evenrow td
{
	background: #faf9ee;
}

.oddrow td
{
	background: #f6f8f9;
}

.overrow td
{
	background: #f8ff8d !important;
}

